# FIXME: remove # parts

# [direnv]
.direnv  # direnv artifacts
.envrc  # direnv config

# [dotenv]
.env  # dot-env config

# [just] assets pre-upload
dist  # assets

# [rust]
**/*.rs.bk  # backup files for rustfmt
# cargo.lock  # comment if making executable, uncomment for libraries
debug/  # compiled files and executables
target/  # compiled files and executables
