[package]
name = "{{crate_name}}"
version = "0.0.1"
edition = "2024"
description = "{{crate_description}}"
authors = ["Akshay Kumar (akshay.kumar@scania.com)"]
{% if repository -%}
repository = "{{repository}}"
{% endif -%}
license = "MIT OR Apache-2.0"

[dependencies]

[dev-dependencies]

[lints.clippy]
pedantic = { level = "warn", priority = -100 }

[lints.rust]
unsafe_code = "forbid"
