[package]
name = "{{crate_name}}"
version = "{{crate_version}}"
edition = "{{rust_edition}}"
description = "{{crate_description}}"
{% if remote_type != 'no remote' %}
repository = "{{repository}}":
{% endif -%}
license-file = #FIXME:

[dependencies]

[dev-dependencies]

[lints.clippy]
pedantic = { level = "warn", priority = -100 }

[lints.rust]
unsafe_code = "forbid"
