{% raw -%}
musl_target := "x86_64-unknown-linux-musl"
release_dir := "target/" + musl_target + "/release"
cargo_release_args := "--allow-branch=main --execute --no-confirm"

default:
    @just --list --unsorted

[group('ci')]
fmt:
    cargo fmt --all

[group('ci')]
ci: lint test

[group('ci')]
lint:
    pre-commit run --all-files
    cargo fmt --all --check
    cargo check --all-targets --all-features --workspace
    cargo clippy --all-targets --all-features --workspace -- -D warnings -D clippy::all

[group('ci')]
test:
    cargo nextest run --all-features --all-targets --workspace

[group('ci')]
build-debug:
    cargo build

[group('pre-release')]
bump: ci
    #!/usr/bin/env bash
    set -euo pipefail
    BUMP_TYPE=$(printf '%s\n' patch minor major | fzf --prompt='Version bump: ')
    cargo release version "${BUMP_TYPE}" {{cargo_release_args}}
    remote_url=$(git config --get remote.origin.url | sed 's/\.git$//')
    git cliff --config ./.cliff.toml --unreleased --bump="${BUMP_TYPE}" --context |
      jq --arg u "${remote_url}" '.[0].extra.remote_url= $u' |
      git cliff --config ./.cliff.toml --unreleased --bump="${BUMP_TYPE}" --prepend CHANGELOG.md --from-context -

[group('release')]
build-release:
    docker run \
      --volume cargo-cache:/opt/cargo/registry \
      --volume $PWD:/volume \
      --rm --tty \
      clux/muslrust:nightly \
      cargo build --release --target {{musl_target}}

[group('release')]
package: build-release
    #!/usr/bin/env bash
    set -euo pipefail
    rm -rf dist
    mkdir -p dist
    package_name=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[0].name')
    package_version=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[0].version')
    asset_name="${package_name}-v${package_version}-{{musl_target}}"
    mapfile -t executables < <(find "./{{release_dir}}" -maxdepth 1 -type f -executable -printf '%f\n')
    if [ "${#executables[@]}" -eq 0 ]; then
        echo "No executables found in {{release_dir}}"
        exit 1
    fi
    tar -czf "dist/${asset_name}.tar.gz" -C "./{{release_dir}}" "${executables[@]}"
    (cd dist && sha256sum "${asset_name}.tar.gz" > "${asset_name}.tar.gz.sha256")

[group('release')]
tag:
    #!/usr/bin/env bash
    set -euo pipefail
    package_version=$(cargo metadata --no-deps --format-version=1 | jq -r '.packages[0].version')
    cargo release commit {{cargo_release_args}}
    cargo release tag --tag-name "v${package_version}" {{cargo_release_args}}

[group('release')]
release: ci package tag
{%- endraw %}
